
<% if user_signed_in? %>
<% else %>
    <%= button_to 'Sign up', new_user_registration_path, :method => :get %>
    <%= button_to 'Sign in', new_user_session_path, :method => :get %>
<% end %>
<div>
<%= image_tag "rui.jpg", :size => "200x200", :class => "style_image" %>
<%= image_tag "badaro.jpg", :size => "200x200", :class => "style_image"%>
<p>Os nossos nomes são Rui Queirós e Rafael Bizarra, somos estudantes do Mestrado Integrado de Engenharia Informática da Faculdade de Ciências e Tecnologia da Universidade Nova de Lisboa somos os responsáveis por esta maravilhosa página.
<p>O Lifeinvader é uma rede social profissional onde os seus utilizadores ficam a saber das últimas novidades da tecnologia e interagem com outras pessoas e empresas ligadas à tecnologia.
<p>O principal objteivo passa para que esteja seja mais uma simples e fácil ferramenta de utilização que aproximem as pessoas de forma a estarem mais perto das oportunidades de emprego e das últimas novidades. Esperemos que gostem da nossa rede social e que contribuam para não só um presente mas um futuro mais risonho.
</div>
