<h1>Sê bem vindo ao Let's Go Pro</h1>
<p>Se já tens conta então <%= link_to "iniciar sessão", new_user_session_path %></p>
<p>Caso contrário  <%= link_to "regista", new_user_registration_path %>  já uma conta! </p>


