<b><i>Relatório da Segunda Fase</i></b>

<p>Para esta segunda fase utilizamos a gema devise para a criação de contas de utilizador e também para o tratamento de sessão podendo os utilizadores fazerem login e logout e aceder à sua conta. Na página inicial o utilizador pode registar uma conta, ou iniciar sessão, ou então consultar o About.

<p>A pesquisa também se encontra funcional o utilizador poderá pesquisar informação relativa a outros utilizadores ou companhias. Basta para isso inserir um pequeno pedaço de texto para procedermos a uma pesquisa.

<p>Na página das notícias para além do utilizador corrente poder criar uma nova notícia, pode ainda visualizar as notícias criadas por outros utilizadores desde que estes sejam um contacto seu. Para a criação da notícia dá-mos um título, um link para a imagem e outro para a notícia bem como uma pequena descrição.

<p>No botão Show Info é consultada a informação relativa ao utilizador corrente, abrindo uma página que para além da visualização de edição permite também editar o perfil.

<p>Na página das empresas aparece a listagem das empresas do sistema bem como os utilizadores que já fizeram ou fazem parte dela.

<p>No Curriculm Vitae conforme o nome indica, o utilizador pode consultar o Curriculum Vitae onde pode também adicionar novas entradas e funções que tenha desempenhado durante esse período.

<p><b>Modificações após a hora de entrega: </b>
  <li>Apenas o utilizador que criou um artigo pode editar ou apagá-lo</li>
  <li>Apenas o criador que criou a empresa pode editar ou apagá-la</li>
  <li>Botão para relatório a aparecer em toda a aplicação</li>
  <li>A data final do currículo tem que ser superior à data inicial</li>
  <li>Possibilidade de aceder à informação do utilizador a partir dos contacos</li>

<%= button_to 'Back', profile_path, :method => :get, :class => "button_to" %>