<h1>Search Results</h1>

<% @user_res.each do |user| %>
    <div>
      <p><b><%= link_to user.name, user %></b><br/>
      <%= user.about_me %></p>
    </div>
<% end %>

<% @company_res.each do |company| %>
    <div>
      <p><b><%= link_to company.name, company %></b><br/>
      <%= company.description %></p>
    </div>
<% end %>