// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
  background-color: rgb(170, 170, 170);
}

@media (min-width: 950px) {
  .main {
    margin: 0 auto;
    width: 800px;
    border-radius: 5px;
    padding: 5px;
  }
}

.style_image {
  float: left
}

.main {
  background-color: #033649;
}

/*tamanho de ecra normal*/
@media (min-width: 950px) {
  .main {
    margin: 0 auto;
    width: 800px;
    border-radius: 5px;
    padding: 5px;
  }
}

.container {
  background-color: #E8DDCB;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 800px) {
  .container {
    width: 98%;
  }
}


.user_nav {
  background-color: #E8DDCB;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.logo_image{
  display: inline-block;
  width: 40%;
  padding: 5px 5px 15px 5px;
}