// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
  background-color: rgb(170, 170, 170);
}

@media (min-width: 800px) {
  .main {
    margin: 0 auto;
    width: 800px;
    border-radius: 5px;
    padding: 5px;
  }
}

.style_image {
  float: left;
  margin: 5px;
}

.main {
  background-color: #033649;
}
.button_to:hover {
  background-color: #444;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}

.button_to {
  color: black;
  font-size: 16px;
  border-radius: 3px;
  display: inline-block;
  margin: 0px;
}

#menu-bar {

  margin-bottom: 10px;
}


.container {
  background-color: #E8DDCB;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 800px) {
  .container {
    width: 98%;
  }
}


.user_nav {
  background-color: #E8DDCB;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.logo_image{
  display: inline-block;
  width: 40%;
  padding: 5px 5px 15px 5px;
}