// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
  background-color: rgb(170, 170, 170);
}

@media (min-width: 950px) {
  .main {
    margin: 0 auto;
    width: 1000px;
    border-radius: 5px;
    padding: 5px;
  }
}